@model IEnumerable<IbhayiPharmacy.Models.PharmacyManagerVM.StockOrderVM>

@{
    ViewData["Title"] = "Manage Orders";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="container mt-4">
    <div class="card p-3">
        <h5 class="title-underline">Medication Orders</h5>
        <div class="card-body">
            <table class="table table-hover table-borderless">
                <thead class="table-light">
                    <tr>
                        <th>Date</th>
                        <th>Supplier</th>
                        <th>Medication</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        // Group by supplier name
                        var supplierGroups = order.OrderLines
                        .GroupBy(ol => ol.Medication.Supplier.SupplierName);

                        foreach (var group in supplierGroups)
                        {
                            var lineCount = group.Count();
                            bool first = true;

                            foreach (var line in group)
                            {
                                <tr>
                                    @if (first)
                                    {
                                        <td rowspan="@lineCount">@order.StockOrder.OrderDate.ToShortDateString()</td>
                                        <td rowspan="@lineCount">@group.Key</td>
                                    }

                                    <td>@line.Medication.MedicationName</td>
                                    <td>@line.OrderQuantity</td>

                                    @if (first)
                                    {
                                        <td rowspan="@lineCount">@order.StockOrder.Status</td>
                                        first = false;
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
