@model IEnumerable<IbhayiPharmacy.Models.Medication>
@{
    ViewBag.Title = "Manage Medications";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

}

<div class="container mt-4">

    <div class=" mb-3">
        <a asp-action="AddMedication" class="btn btn-success">+ Add New Medication</a>
    </div>
    <div class="card p-3">
   
        <h5 class="title-underline mb-3">Existing Pharmacists</h5>
        <table class="table table-hover table-borderless table-striped p-2">
            <thead class="text-dark">
                <tr>
                    <th>Medication Name</th>
                    <th>Schedule</th>
                    <th>Price</th>
                    <th>Re-Order Level</th>
                    <th>Quantity On Hand</th>
                    <th>Dosage Form</th>
                    <th>Supplier</th>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var med in Model)
                {
                    bool isLowStock = med.QuantityOnHand <= (med.ReOrderLevel + 10);


                    <tr>
                        <td>@med.MedicationName</td>
                        <td>@med.Schedule</td>
                        <td>R @med.CurrentPrice</td>
                        <td>@med.ReOrderLevel</td>
                        <td style="color:@(isLowStock ? "red" : "black"); font-weight:@(isLowStock ? "bold" : "normal");">
                            @med.QuantityOnHand
                        </td>
                        <td>@med.DosageForm?.DosageFormName</td>
                        <td>@med.Supplier?.SupplierName</td>
                        <td>
                            @if (med.Medication_Ingredients.Any())
                            {
                                <ul class="mb-0">
                                    @foreach (var ing in med.Medication_Ingredients)
                                    {
                                        <li>@ing.Active_Ingredients.Name - @ing.Strength</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span class="text-muted">No ingredients</span>
                            }
                        </td>
                        <td>
                            <form asp-action="DeleteMedication" asp-route-id="@med.MedcationID" method="post" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
