@model IEnumerable<IbhayiPharmacy.Models.Pharmacy>
@{
    ViewData["Title"] = "Manage Pharmacy Info";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<style>
    .body {
        background-color: #f4f6f9;
    }

    .card {
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
</style>
<br />
<div class="  mt-4">
    <a asp-action="AddPharmacyInfo" asp-controller="PharmacyManager" class="btn mb-2">+ Details</a>
    <div class="card">
        <h5 class="title-underline">Pharmacy Information</h5>
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <dl class="row">
                    @foreach (var item in Model)
                    {
                        <dt class="col-sm-4">Pharmacy Name</dt>
                        <dd class="col-sm-8">@item.Name</dd>

                        <dt class="col-sm-4">Health Council Reg. Number</dt>
                        <dd class="col-sm-8">@item.HealthCouncilRegNo</dd>

                        <dt class="col-sm-4">Physical Address</dt>
                        <dd class="col-sm-8">@item.Address</dd>

                        <dt class="col-sm-4">Contact Number</dt>
                        <dd class="col-sm-8">@item.PhoneNumber</dd>

                        <dt class="col-sm-4">Email Address</dt>
                        <dd class="col-sm-8">@item.Email</dd>

                        <dt class="col-sm-4">Website URL</dt>
                        <dd class="col-sm-8"><a href="https://www.ibhayipharmacy.co.za" target="_blank">@item.WebsiteURL</a></dd>

                        <dt class="col-sm-4">Responsible Pharmacist</dt>
                        <dd class="col-sm-8">@item.PharmacistID</dd>
                    }

                </dl>
            }

            <a asp-controller="PhamarcyManager" asp-action="EditPharmacyInfo" class="btn btn-primary mt-3">Edit Information</a>
        </div>
    </div>
</div>